body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    color: rgb(182, 140, 4);
}

p{
    text-align: justify;
    font-size: 20px;
    margin: 100px;
}

img{
    width: 600px;
    margin-left: 26%;
    margin-top: 20px;
}

nav li{
    margin-right: 30px;
}


.nav-wrapper{
    background-color: rgb(182, 140, 4);
}

.home{
    text-align: justify;
}

.logo{
    margin: 4px 0 0 15px;
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
}